<ion-view title="Confirmar sesión" id="page34">
    <ion-content padding="true" class="has-header">
        <form id="confirmarSesiN-form4" class="list ">
            <label class="item item-input " id="confirmarSesiN-input5">
                <span class="input-label">Usuario</span>
                <input type="text" ng-model="c" placeholder="">
            </label>
            <label class="item item-input " id="confirmarSesiN-input6">
                <span class="input-label">Contraseña</span>
                <input type="text" ng-model="d" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.fotoYVideo" id="confirmarSesiN-button5" class=" button button-positive  button-block ">Log in</a>
    </ion-content>
</ion-view>